<div class="main-content pt-28 flex overflow-y-auto">
    <div class="section-content w-4/5" style="display: flex;">
        <div class="block rounded-xl flex flex-grow flex-col mt-6 mb-14 ml-6">

            <div class="grid grid-cols-3 gap-5 w-1/3">
                <div class="button-main rounded-3xl mx-4 ml-6 mt-7 col-span-1 w-full flex justify-center items-center">Aktualny tydzień</div>
                <div class="button-main rounded-3xl mx-4 ml-6 mt-7 col-span-1 w-full flex justify-center items-center">Następny tydzień</div>
                <div class="button-main rounded-3xl mx-4 ml-6 mt-7 col-span-1 w-full flex justify-center items-center">Inny tydzień</div>
            </div>


            <div class="grid grid-cols-5 gap-5 mt-4 ml-6 mr-6 mb-6">
                <!--<div class="section-content rounded-xl col-span-1 block-schedule"></div>
                <div class="section-content rounded-xl col-span-1 block-schedule"></div>
                <div class="section-content rounded-xl col-span-1 block-schedule"></div>
                <div class="section-content rounded-xl col-span-1 block-schedule"></div>
                <div class="section-content rounded-xl col-span-1 block-schedule"></div>-->
                
                <div class="schedule-container col-span-1">
                    <div class="time-column">
                      <div class="time-slot" *ngFor="let hour of hours">{{ hour }}</div>
                    </div>
                    <div class="events-column">
                      <div 
                        class="event" 
                        *ngFor="let event of events" 
                        [style.top]="event.top" 
                        [style.height]="event.height">
                        <div class="event-title">{{ event.title }}</div>
                        <div class="event-time">{{ event.time }}</div>
                      </div>
                    </div>
                  </div>

                  <div class="schedule-container col-span-1">
                    <div class="time-column">
                      <div class="time-slot" *ngFor="let hour of hours">{{ hour }}</div>
                    </div>
                    <div class="events-column">
                      <div 
                        class="event" 
                        *ngFor="let event of events" 
                        [style.top]="event.top" 
                        [style.height]="event.height">
                        <div class="event-title">{{ event.title }}</div>
                        <div class="event-time">{{ event.time }}</div>
                      </div>
                    </div>
                  </div>

                  <div class="schedule-container col-span-1">
                    <div class="time-column">
                      <div class="time-slot" *ngFor="let hour of hours">{{ hour }}</div>
                    </div>
                    <div class="events-column">
                      <div 
                        class="event" 
                        *ngFor="let event of events" 
                        [style.top]="event.top" 
                        [style.height]="event.height">
                        <div class="event-title">{{ event.title }}</div>
                        <div class="event-time">{{ event.time }}</div>
                      </div>
                    </div>
                  </div>

                  <div class="schedule-container col-span-1">
                    <div class="time-column">
                      <div class="time-slot" *ngFor="let hour of hours">{{ hour }}</div>
                    </div>
                    <div class="events-column">
                      <div 
                        class="event" 
                        *ngFor="let event of events" 
                        [style.top]="event.top" 
                        [style.height]="event.height">
                        <div class="event-title">{{ event.title }}</div>
                        <div class="event-time">{{ event.time }}</div>
                      </div>
                    </div>
                  </div>

                  <div class="schedule-container col-span-1">
                    <div class="time-column">
                      <div class="time-slot" *ngFor="let hour of hours">{{ hour }}</div>
                    </div>
                    <div class="events-column">
                      <div 
                        class="event" 
                        *ngFor="let event of events" 
                        [style.top]="event.top" 
                        [style.height]="event.height">
                        <div class="event-title">{{ event.title }}</div>
                        <div class="event-time">{{ event.time }}</div>
                      </div>
                    </div>
                  </div>

            </div>

        </div>
    </div>
</div>