<div class="main-content pt-28 flex overflow-y-auto">
  <div *ngIf="isInfoOpen" class="modal fade-in">
    <div class="modal-content scale-anim">
      <ng-container [ngSwitch]="userRole"> 
        <div *ngSwitchCase="'parent'">  <!--Rodzic-->
          <div class="modal-header">
            <h2>{{infoEvent.eventInfo.school_subject.subjectName}}</h2>
            <span class="close-button" (click)="closeInfo()"> 
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F5F5F5">
                <path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
              </svg>
            </span>
          </div>
          <p>Czas: {{ infoEvent.time }}</p>
          <p>Sala: {{ infoEvent.eventInfo.place }}</p>
          <p>Nauczyciel: {{ infoEvent.eventInfo.teacher.user.firstName }} {{ infoEvent.eventInfo.teacher.user.lastName }}</p>    
        </div>
        <div *ngSwitchCase="'teacher'"> <!--Nauczyciel-->
          <div class="modal-header">
            <h2>{{infoEvent.eventInfo.school_subject.subjectName}}</h2>
            <div class="info-icons">            
              <span class="info-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="38px" viewBox="0 -960 960 960" width="38px" fill="#F5F5F5">
                  <path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/>
                </svg>
                <span class="text-header">Sala {{infoEvent.eventInfo.place}}</span>
              </span>
              <span class="info-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="38px" viewBox="0 -960 960 960" width="38px" fill="#F5F5F5">
                  <path d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z"/>
                </svg>
                <span class="text-header">Klasa {{infoEvent.eventInfo.school_subject.studentGroup.name}}</span>
              </span>
            </div>
            <span class="close-button" (click)="closeInfo()"> 
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F5F5F5">
                <path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
              </svg>
            </span>
          </div>
          <table class="students-table">
            <thead>
              <tr>
                <th>Student</th>
                <th>Ocena</th>
                <th>Obecność</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of subjectStudentList">
                <td>{{student.user.firstName}} {{student.user.lastName}}</td>
                <td>
                  <input type="number" min="1" max="5" class="grade-input" />
                </td>
                <td>
                  <input type="checkbox" />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="start-lecture-container">
            <button class="start-lecture-button" (click)="startMeeting(infoEvent)">Start Lekcji</button>
          </div>
        </div>
        <div *ngSwitchCase="'student'"> <!--Student-->
          <div class="modal-header">
            <h2>{{infoEvent.eventInfo.school_subject.subjectName}}</h2>
            <span class="close-button" (click)="closeInfo()"> 
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F5F5F5">
                <path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
              </svg>
            </span>
          </div>
          <p>Czas: {{ infoEvent.time }}</p>
          <p>Sala: {{ infoEvent.eventInfo.place }}</p>
          <p>Nauczyciel: {{ infoEvent.eventInfo.teacher.user.firstName }} {{ infoEvent.eventInfo.teacher.user.lastName }}</p>       
        </div>
        <div *ngSwitchDefault>
          <div class="modal-header">
            <span class="close-button" (click)="closeInfo()"> 
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F5F5F5">
                <path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
              </svg>
            </span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

        <!-- schedule start -->
        <div class="block rounded-xl flex flex-grow flex-col mt-6 mb-14 ml-6">
          <!-- Button container -->
          <div class="button-container flex flex-wrap items-center mt-4 w-full ">
            <div class="buttons-wrapper flex ml-2 mr-5">
              <div class="button-main rounded-3xl px-4 py-2 mt-4 mx-4 flex justify-center items-center" (click)="getActualWeek()">Aktualny tydzień</div>
              <div class="button-main rounded-3xl px-4 py-2 mt-4 mx-4 flex justify-center items-center" (click)="getFollowingWeek()">Następny tydzień</div>
              <div class="button-main rounded-3xl px-4 py-2 mt-4 mx-4 flex justify-center items-center">Inny tydzień</div>            
            </div>
            <div class="ml-6 mt-4 text-sm md:text-base">
              {{ getFormattedDate(firstCurrentWeekDay) }} - {{ getFormattedDate(lastCurrentWeekDay) }}
            </div>
          </div>
        
          <!-- Schedule container -->
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mt-6 px-6 pb-6">
            <div class="schedule-container col-span-1" *ngFor="let day of [1, 2, 3, 4, 5]">
              <div class="time-column">
                <div class="time-slot" *ngFor="let hour of hours">{{ hour }}</div>
              </div>
              <div class="events-column relative">
                <div 
                  class="event absolute left-0 right-0 cursor-pointer" 
                  *ngFor="let event of weekEvents[day]" 
                  [style.top]="event.top" 
                  [style.height]="event.height"
                  (click)="openInfo(event)">
                  <div class="event-title">{{ event.eventInfo.school_subject.subjectName }}</div>
                  <div class="event-details">
                    <div class="event-time">{{ event.time }}</div>
                    <div class="event-place">Sala: {{ event.eventInfo.place }}</div>
                  </div>
                </div>
                <div *ngIf="weekEvents[day] && weekEvents[day].length === 0" class="empty-event text-center mt-4">
                  Dzień wolny
                </div>
              </div>
            </div>
          </div>
        </div>