<div class="header-line section-content section-content-p30">
  <div class="container-fluid">
    <div class="header-wrap">
      <div class="header-logo">
        <span>USOS logowanie</span>	
      </div>
    </div>
  </div>
</div>

<div class="main-content pt-28 flex overflow-y-auto">
  <div class="login-container mt-10">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Login:</label>
        <input 
          type="text" 
          id="username"
          formControlName="username"
          class="form-control">
      </div>
  
      <div class="form-group">
        <label for="password">Hasło:</label>
        <input 
          type="password" 
          id="password"
          formControlName="password"
          class="form-control">
      </div>
  
      <div *ngIf="message" [class]="'alert alert-' + (messageType === 'success' ? 'success' : 'danger')">
        {{ message }}
      </div>
  
      <button type="submit" [disabled]="!loginForm.valid">Dalej</button>
    </form>
  </div>
</div>