<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>USOS</title>

	<!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
	<div class="page-wrapper w-full">

		<!-- PAGE CONTAINER-->
		<div class="page-container w-full">
			<!-- HEADER -->
			<header class="header">
				<div class="section-content section-content-p30">
					<div class="container-fluid">
						<div class="header-wrap">
              <div class="header-logo">
                <span [routerLink]="'/main'" style="cursor: pointer;">USOS</span>	
              </div>
              <div class="header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#F5F5F5">
                  <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
                </svg>
              </div>
						</div>
					</div>
				</div>
			</header>
			<!-- END HEADER -->

			<!-- MAIN CONTENT-->
			<router-outlet></router-outlet>
		  	<!-- END MAIN CONTENT-->

		</div>
	</div>

</body>

</html>